---
// src/pages/index.astro
import Aboutus from '../components/Aboutus.astro'; // Correct path to import the AboutUs component
import Homepage from '../components/Homepage.astro'; // Correct path to import the Homepage component
---
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <title>. T E A</title>
</head>

<body>
    <!-- Homepage Section -->
    <Homepage />

    <!-- About Us Section -->
    <Aboutus />
  </body>
